body {
  background-color: #ffe082;
  font-family: 'Exo', sans-serif;
}
#wrapper {
  max-width: 90%;
  width: 800px;
  margin: 0 auto;
}
::-moz-selection {
  background-color: #212121;
  color: #fff;
}
::selection {
  background-color: #212121;
  color: #fff;
}
.simon {
  position: relative;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  width: 400px;
  height: 400px;
  background-color: #212121;
  margin: 0 auto;
  border-radius: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  box-shadow: 10px 10px 50px 2px #000;
  -webkit-animation-name: show-simon;
          animation-name: show-simon;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.simon .field {
  width: 173.91304347826087px;
  height: 173.91304347826087px;
  margin: 0.3rem;
  cursor: pointer;
}
.simon .green {
  background-color: #69f0ae;
  border-top-left-radius: 100%;
}
.simon .green.active {
  background-color: #c6f9e0;
}
.simon .red {
  background-color: #b71c1c;
  border-top-right-radius: 100%;
}
.simon .red.active {
  background-color: #e55454;
}
.simon .blue {
  background-color: #64b5f6;
  border-bottom-left-radius: 100%;
}
.simon .blue.active {
  background-color: #c4e3fc;
}
.simon .yellow {
  background-color: #ffd740;
  border-bottom-right-radius: 100%;
}
.simon .yellow.active {
  background-color: #ffeca6;
}
.simon .simon-menu {
  box-shadow: 10px 10px 50px 2px #000;
  box-sizing: border-box;
  position: absolute;
  background-color: #212121;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.simon .simon-menu .simon-menu-box {
  text-transform: uppercase;
  text-align: center;
  background-color: #eee;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.simon .simon-menu .simon-menu-box h2 {
  margin-top: 1.5rem;
}
.simon .simon-menu .simon-menu-box .row-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.simon .simon-menu .simon-menu-box .row-items .simon-screen {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #212121;
  color: #fff;
  width: 50px;
  height: 30px;
  padding-top: 0.3rem;
}
.simon .simon-menu .simon-menu-box .row-items .simon-screen.error {
  color: #b71c1c;
  font-size: 0.7rem;
  padding-top: 0.5rem;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box {
  margin-left: 0.5rem;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box button {
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 4px solid #212121;
  box-shadow: 2px 2px 7px 1px #212121;
  transition-duration: 0.3s;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box button[value='start'] {
  background: #d50000;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box button[value='strict'] {
  background-color: #ff0;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box button.clicked {
  -webkit-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  box-shadow: 1px 1px 10px 1px #212121;
}
.simon .simon-menu .simon-menu-box .row-items .btn-box p {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.simon .simon-menu .simon-menu-box .row-items .switch-btn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ccc;
  border-radius: 4px;
  width: 50px;
  height: 20px;
  margin: 0 0.5rem;
}
.simon .simon-menu .simon-menu-box .row-items .switch-btn .switch-btn-control {
  top: 0;
  left: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  border-radius: 4px;
  position: absolute;
  background-color: #64b5f6;
  display: inline-block;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.simon .simon-menu .simon-menu-box .row-items .switch-btn .switch-btn-control.switched {
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
}
@-webkit-keyframes show-simon {
  0% {
    -webkit-transform: translateY(25%) scale(0, 0) rotate(360deg);
            transform: translateY(25%) scale(0, 0) rotate(360deg);
  }
  70% {
    -webkit-transform: translateY(25%) scale(1.1, 1.1) rotate(-45deg);
            transform: translateY(25%) scale(1.1, 1.1) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(25%) scale(1, 1) rotate(0deg);
            transform: translateY(25%) scale(1, 1) rotate(0deg);
  }
}
@keyframes show-simon {
  0% {
    -webkit-transform: translateY(25%) scale(0, 0) rotate(360deg);
            transform: translateY(25%) scale(0, 0) rotate(360deg);
  }
  70% {
    -webkit-transform: translateY(25%) scale(1.1, 1.1) rotate(-45deg);
            transform: translateY(25%) scale(1.1, 1.1) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(25%) scale(1, 1) rotate(0deg);
            transform: translateY(25%) scale(1, 1) rotate(0deg);
  }
}
