//------------------- Variables ----------------------//
orange 		= #ffe082

red1 		= #b71c1c 
red2 		= #d50000 

blue1 		= #64b5f6
blue2 		= #0d47a1

green1 		= #69f0ae
green2 		= #00c853 

yellow1  	= #ffd740
yellow2 	= #ffc400 

dark 		= #212121

simon-size 	= 400px

//------------------- Global Styles ----------------------//
body 
	background-color orange
	font-family: 'Exo', sans-serif;
	
#wrapper
	max-width 90%
	width 800px
	margin 0 auto
	
::selection
	background-color dark
	color #fff
	
//------------------- Simon Game Styles ----------------------//
.simon
	position relative
	transform translateY(25%)
	width simon-size
	height simon-size
	background-color dark
	margin 0 auto
	border-radius 100%
	display flex
	flex-direction row
	flex-wrap wrap 
	justify-content center
	align-items center
	align-content center
	box-shadow 10px 10px 50px 2px  black
	animation-name show-simon
	animation-duration 2s
	.field
		width ( simon-size / 2.3 ) px
		height ( simon-size / 2.3 ) px
		margin .3rem
		cursor pointer
	.green 
		background-color green1
		border-top-left-radius 100%
		&.active
			background-color lighten(@background-color, 20)
	.red
		background-color red1
		border-top-right-radius 100%
		&.active
			background-color lighten(@background-color, 20)
	.blue 
		background-color blue1
		border-bottom-left-radius 100%
		&.active
			background-color lighten(@background-color, 20)
	.yellow 
		background-color yellow1
		border-bottom-right-radius 100%
		&.active
			background-color lighten(@background-color, 20)
	.simon-menu
		box-shadow @box-shadow
		box-sizing border-box
		position absolute
		background-color dark
		width ( simon-size / 2 ) px
		height ( simon-size / 2 ) px
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		border-radius 100%
		display flex 
		justify-content center
		align-items center
		.simon-menu-box
			text-transform uppercase
			text-align center
			background-color #eee
			width 90%
			height 90%
			border-radius 100%
			h2 
				margin-top 1.5rem
			.row-items
				display flex
				justify-content center
				.simon-screen
					box-sizing border-box
					border-radius 4px
					background-color dark
					color #fff
					width 50px
					height 30px
					padding-top .3rem
					&.error
						color red1
						font-size .7rem
						padding-top .5rem
				.btn-box
					margin-left .5rem
					button 
						outline none
						cursor pointer
						width 20px 
						height 20px	
						border-radius 100%
						border 4px solid dark
						box-shadow 2px 2px 7px 1px dark
						transition-duration .3s
						&[value='start']
							background red2
						&[value='strict']
							background-color yellow		
						&.clicked
							transform scale(.9, .9)
							box-shadow 1px 1px 10px 1px dark
					p 
						font-size .8rem
						margin-top .2rem
				.switch-btn
					position relative
					box-sizing border-box
					display inline-block
					background-color #ccc
					border-radius 4px
					width 50px
					height 20px
					margin 0 .5rem
					.switch-btn-control
						top 0
						left 100%
						transform translateX(-100%)
						border-radius @border-radius
						position absolute
						background-color blue1
						display inline-block
						width 50%
						height 100%
						cursor pointer
						transition-duration .3s
						&.switched
							transform translateX(-200%)
							


@keyframes show-simon {
	0% {
		transform translateY(25%) scale(0, 0) rotate(360deg)
	}
	
	70% {
		transform translateY(25%) scale(1.1, 1.1) rotate(-45deg)
	}
	
	100% {
		transform translateY(25%) scale(1, 1) rotate(0deg)
	}
}


footer
	width 100%
	background-color red1