//------------------- Variables ----------------------//
orange 		= #ffe082

red1 		= #b71c1c 
red2 		= #d50000 

blue1 		= #64b5f6
blue2 		= #0d47a1

green1 		= #69f0ae
green2 		= #00c853 

yellow1  	= #ffd740
yellow2 	= #ffc400 

dark 		= #212121

simon-size 	= 400px

//------------------- Global Styles ----------------------//
body 
	background-color orange
	font-family: 'Exo', sans-serif;
	
#wrapper
	max-width 90%
	width 800px
	margin 0 auto
	
//------------------- Simon Game Styles ----------------------//
.simon
	position relative
	width simon-size
	height simon-size
	background-color dark
	margin 0 auto
	border-radius 100%
	display flex
	flex-direction row
	flex-wrap wrap 
	justify-content center
	align-items center
	align-content center
	box-shadow 10px 10px 50px 2px  black
	.field
		width ( simon-size / 2.3 ) px
		height ( simon-size / 2.3 ) px
		margin .3rem
		cursor pointer
	.green 
		background-color green1
		border-top-left-radius 100%
	.red
		background-color red1
		border-top-right-radius 100%
	.blue 
		background-color blue1
		border-bottom-left-radius 100%
	.yellow 
		background-color yellow1
		border-bottom-right-radius 100%
	.simon-menu
		box-sizing border-box
		position absolute
		background-color dark
		width ( simon-size / 2 ) px
		height ( simon-size / 2 ) px
		top 50%
		left 50%
		transform translateX(-50%) translateY(-50%)
		border-radius 100%
		display flex 
		justify-content center
		align-items center
		.simon-menu-box
			text-transform uppercase
			text-align center
			background-color #eee
			width 90%
			height 90%
			border-radius 100%
			h2 
				margin-top 1.5rem
			.row-items
				display flex
				justify-content center
				.simon-screen
					background-color dark
					color #fff
					width 50px
					height 30px
					padding-top .5rem
				.btn-box
					margin-left .5rem
					button 
						outline none
						cursor pointer
						width 20px 
						height 20px	
						border-radius 100%
						border none
						border 3px solid dark
						&[value='start']
							background-color red2
						&[value='strict']
							background-color yellow		
						&:active
							box-shadow 3px 3px 4px inset	
					p 
						font-size .8rem
						margin-top .2rem